//custom css styles
#ui-datepicker-div { 
     font-size:10px; 
     
 }
 
.ui-datepicker-header {
 background-color: #E1E1E1;
   
}

.register_width_fields {
    width:40%
}

.register_width_padding {
    padding: 13px;
}

.form_mandatory{
    color:red;
    font-weight: bolder;
}

.form_error{
    text-align: center;
    color:red;
    font-weight: bolder;
}

.form_success{
    text-align: center;
    color:green;
    font-weight: bolder;
}

form.custom{
    padding-left: 250px;
    
}

.view_width_fields {
    width:25%
}

.compose_sms_padding{
    padding-bottom: 10px;
    padding-top: 10px;
        
}

.sms_schedule_fields{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    //padding-top: 10px;
        
}

.input_field_spacing{
    padding-top: 5px
}

.multiple_width_fields {
    width:25%
}

.logo{
    width:60px;
    height:35px;
    border-radius: 2px;
    padding-bottom: 2px;
    padding-top: -9px
}
